@font-face {
  font-family: D2Coding;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue1: #4096ff;
  --blue2: #1677ff;
  --gray1: #d9d9d9;
  --gray2: #a6a6a6;
  --gray3: #515f50;
  --gray4: #9b9b9b;
}

*:not(pre, code, kbd) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-variant-ligatures: none !important;
}

/* Fallback of CodeMirror scroll style */
*::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  max-width: 0.5rem;
  max-height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background: rgba(0, 0, 0, 0) !important;
}

.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/* --- */

html,
body {
  height: 100%;
  min-height: 100%;
}

.CodeMirror {
  min-height: 70px;
  height: auto !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: D2Coding, Consolas, monospace !important;
}

.CodeMirror-lines {
  font-size: 16px !important;
}

/*.CodeMirror-scroll {*/
/*    max-height: 60vh;*/
/*}*/

/*.CodeMirror-linenumber {*/
/*    color: #969696 !important;*/
/*}*/

.CodeMirror-gutters {
  background: #eee !important;
}

/*.cm-comment {*/
/*    color: #a5a5a5 !important;*/
/*}*/

/* --- */

.input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 8px;
}

input {
  border: 1px solid var(--gray1);
  border-radius: 6px;
  padding: 4px 11px;
  font-size: 18px;
  outline: none;
}

input:is(:focus, :hover) {
  border-color: var(--blue1);
}

button {
  appearance: none;
  border: 0;
  padding: 4px 15px;
  border-radius: 6px;

  color: #fff;
  background-color: var(--blue2);
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  font-size: 18px;
}

button:is(:focus, :hover) {
  background-color: var(--blue1);
}

.tag {
  font-size: 14px;
  color: var(--gray3);
}

@media (max-width: 460px) {
  .input-group {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  #root {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.gutter {
  display: grid;
}

.gutter .line-number {
  display: inline-block;
  text-align: right;
  margin-right: 0.5rem;
  padding-left: 0.5rem;;
  padding-right: 0.5rem;
  color: var(--gray4);
  font-family: D2Coding, Consolas, monospace;
  user-select: none;
}

.gutter .line {
  display: inline-block;
  overflow-wrap: anywhere;
}