* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
}
body {
	background: #434343;
}
body.light {
	background: linear-gradient(125.1deg, #48C7E0 -6.05%, rgba(72, 199, 224, 0) 56.81%), linear-gradient(235.98deg, #8289FC -4.27%, rgba(130, 137, 252, 0) 69.46%), linear-gradient(0deg, #C88AFB, #C88AFB);
}

body.dark {
	background: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.shadow {
	box-shadow: 0 0 16px 0px #000;
}

.CodeMirror, .CodeMirror-gutters {
	background-color: transparent !important;
	font-size: 1rem;
}

.CodeMirror {
	min-height: 20vh;
	height: auto !important;
}

.CodeMirror-scroll {
	max-height: 60vh;
}

.CodeMirror-linenumber {
	color: #969696 !important;
}
